* {
  box-sizing: border-box;
}

.eng-puzzle-wrapper {
  background: rgb(0,114,97);
  background: radial-gradient(circle, rgba(0,114,97,1) 0%, rgba(27,46,40,1) 96%);
  width: 100%;
  height: 100vh;
  padding: 2vw;
}
