$card: #84cca7;
$font: #ffffff;
$dark-font: #000000;
$card-font-hover: #fbf1cf;
$aside-color: rgb(124, 166, 222);

.game-card {
  position: relative;
  box-sizing: border-box;
  background-color: $card;
  color: $font;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(68, 68, 68, 0.068);
  transition: .5s;
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
  user-select: none;
}

.card-dark {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.game-name {
  text-align: right;
  color: $font;
  font-size: 2em;
  transition: .1s;
}

.game-link:hover {
  text-decoration: none;
  .game-name {
    cursor: pointer;
    color: $card-font-hover;
  }
}

.game-card:hover {
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
  transition: .2s;
}
.about-game {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: .3s;
  border: none;
  border-radius: 50%;
  outline: none;
  color: $card;
  background-color: none;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $aside-color;
  }
  &:active {
    opacity: 0.5;
  }
}

.about-dark {
  color: black;
}
