.start-button-savannah {
  display: inline-block;
  cursor: pointer;
  appearance: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  padding: 19px 15px 21px;
  text-decoration: none!important;
  min-width: 162px;
  color: #fff!important;
  background: #00c49d;
  border-radius: 4px;
}
