.new-game-btn-savannah {
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(37,130,231,.08);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #2582e7;
  padding: 10px 42px;
  margin-top: 24px;
}
