.defaultInfo-savannah {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
}

.h1Style-savannah {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 60px;
  color: #6cffde;
  opacity: .8;
  text-transform: uppercase;
  letter-spacing: 13px;
}

.info-savannah {
  max-width: 565px;
  margin: 0 auto 58px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
//color: #fff;
  opacity: .8;
}
