.modal-window-savannah {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  z-index: 999;
  padding: 36px 16px 16px;
  background-color: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0;
  box-sizing: border-box;
}
