.translation-savannah {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #2582e7;
  margin-right: 6px;
  cursor: pointer;
  word-break: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
