.dictionary-content {
  min-height: 90vh;
}

.btn-deleted-words {
  width: 55px;
  height: 55px;
}

.undelete-icon {
  width: 40px;
  height: 40px;
  background-image: url('../../../assets/Undelete-icon.svg');
  background-size: contain;
}
