.end-screen-savannah {
  width: 100%;
  max-width: 784px;
  min-height: 646px;
  margin: auto auto;
  border-radius: 8px;
  border: 1px solid #e6e9ee;
  background-color: #fff;
  padding: 42px 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}
